$primary: #2D8633;
$primary-light: #F3F3F3;
$primary-grey: #87a68b;
$primary-dark-light: #30542b;
$primary-dark: #031103    ;

$font-primary: $primary;
$font-light: #fff;
$font-grey: $primary-grey;
$font-dark: #000;

$border-primary: $primary;
$border-light: #fff;
$border-grey: #38444d;
$border-dark: $primary-dark;

$background-light: #fff;
$background-grey-dark: $primary-dark;
$background-dark-light: $primary-dark-light;

$danger: #e0245e;
